html {
  background: #2678af;
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
  background: black;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;

  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}
.hand {
  width: 6px;
  height: 50%;
  background: black;
  position: absolute;
  left: 50%;
  transform-origin: 100% 100%;
  transition: all 0.05s;
  transition-timing-function: ease-in-out;
}

.background {
  height: 100vh;
  width: 100vw;
  background: white;
  background-size: contain;
  position: absolute;
}

.blur {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(2px);
}

.dashboard {
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
}
.dashboard .group {
  background: #333bcc4a;
  padding: 20px;
  margin: 20px auto;
  max-width: 75%;
}

.dashboard h5 {
  margin: 0 auto 20px auto;
}

.buttonPill {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.buttonPill.dark {
  background-color: black;
  color: white;
}

.buttonPill.sandy {
  background: url(img/bg/brown-background-natural-sand-texture.jpg);
}
